/* InputField.module.css */
.input {
  color: #fff;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
  padding: 6px 0;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 13px;
}

.input:focus {
  border-bottom-color: #fff;
}

.inputError {
  border-bottom-color: red;
}
