.action-link {
  color: var(--link-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.logout-link {
  color: var(--error-color) !important; /* Цвет кнопки "Выйти" */
}
