.button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 14px;
}

.button--login {
  margin: 143px 0 14px;
}

.button--register {
  margin: 47px 0 14px;
}

.button--save {
  width: 280px;
  margin: 60px auto 0;
}
