.form-container {
  margin: 0 auto;
}

.form {
  width: 340px;
  display: flex;
  flex-direction: column;
  background: #2c2c2c;
  border-radius: 12px;
  margin: 0 auto;
  padding: 30px 50px 30px;
}

.form__container--register {
  margin-top: 52px;
}

.form__container--auth {
  margin-top: 135px;
}

.title {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.form__link {
  text-align: center;
  font-size: 11px;
  line-height: 11px;
}

.container--register {
  margin: 52px 0;
}
