.settings__container {
  background-color: var(--contrast-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile__container {
  max-width: 510px;
  width: 100%;
  padding-top: 60px;
  justify-content: center;
  margin: 0 auto;
}

.profile__details {
  width: 100%;
}

.profile__name {
  text-align: center;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 16px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center; /* Выравнивание по вертикали */
  align-items: center; /* Выравнивание по горизонтали */
}

.profile__image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-bottom: 21px;
}

.profile__actionItem {
  margin-bottom: 16px;
}

.settings__actions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
