@import 'normalize.css/normalize.css';

html,
body {
  height: 100%;
  overflow-x: hidden;
}

:root {
  --accent-color: #f64819;
  --text-color: #fff;
  --text-secondary: #999;
  --link-color: #1885ff;
  --chat-inactive: #6c7a8a;
  --background-color: #212327;
  --interface-background: linear-gradient(to bottom, rgb(44 44 44 / 0%) 0%, #2c2c2c 100%);
  --error-color: #d32f2f;
  --contrast-bg-color: #2c2c2c;
  --font-size-base: 16px;
  --spacing-base: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Сброс отступов */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Чищу стили и кнопки */
a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Базовая типографика */
body {
  background-color: var(--background-color);
  color: #fff;
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  line-height: 13px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}
