.auth {
  margin-top: 135px;
}

.register {
  margin-top: 52px;
}

.form-container {
  margin: 0 auto;
}

.form {
  background: #2c2c2c;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 50px;
  width: 340px;
}

.title {
  margin-bottom: 40px;
  margin-top: 50px;
  text-align: center;
}

.form__link {
  color: var(--text-color);
}

.container--register {
  margin: 52px 0;
}

