.form {
  width: 340px;
  display: flex;
  flex-direction: column;
  background: #2c2c2c;
  border-radius: 12px;
  margin: 135px auto 0;
  padding: 30px 50px 30px;
}

.title {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.form__input {
  color: #fff;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc; /* линия снизу */
  background: transparent; /* прозрачный фон, если нужно */
  outline: none; /* убирает подсветку при фокусе */
  padding: 6px 0;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 13px;
}

/* Можно добавить эффект при фокусе */
.form__input:focus {
  border-bottom-color: #fff; /* цвет при фокусе */
}

.button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 14px;
}

.button--login {
  margin: 143px 0 14px;
}

.button--register {
  margin: 47px 0 14px;
}

.form__label {
  color: var(--secondary-color);
  margin-bottom: 8px;
  font-size: 9px;
  line-height: 9px;
}

.form__link {
  text-align: center;
  font-size: 11px;
  line-height: 11px;
}
