.chat__interface {
  background: linear-gradient(to bottom, rgb(44 44 44 / 0%) 0%, #2c2c2c 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 0 29px 35px 13px;
  width: 100%;
}

.chat__interface-area {
  align-items: center;
  display: flex;
  padding: 10px;
}

.chat__interface-input {
  background-color: #efefef;
  border: solid 2px #1885ff;
  border-radius: 20px;
  color: #000;
  flex: 1;
  font-size: 14px;
  margin-left: 9px;
  outline: none;
  padding: 10px;
}

.chat__interface-sendButton {
  height: 36px;
  width: 36px;
}
