.chat__interface {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 29px 35px 13px;
  height: 90vh;
  background: linear-gradient(to bottom, rgba(44, 44, 44, 0) 0%, #2c2c2c 100%);
  border-radius: 15px;
  margin-right: 20px;
}

.chat__interface-area {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat__interface-input {
  flex: 1;
  padding: 10px;
  margin-left: 9px;
  background-color: #efefef;
  color: #000000;
  border: solid 2px #1885ff;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.chat__interface-sendButton {
  width: 36px;
  height: 36px;
}
