.link {
    font-size: 11px;
    line-height: 11px;
    color: var(--link-color);
    text-align: center;
}

.form__link {
  color: var(--text-color);
}

.actionLink {
  color: var(--link-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 16px;
}

.logoutLink {
  color: var(--error-color) !important; 
}